<head>
	<meta name="viewport" content="width=device-width" />
</head>



<header>
	<h1>Menu</h1>
</header>



	<div class="row">
		<div class="article col-m-8 col-8">
			<div class="header_cover">
				<h4>INSIGHTS</h4>
				<h1>How to follow today’s eclipse, even if you live outside the US</h1>
				<ul>
					<li>by Matthew Hughes</li>
					<li>29 minutes ago</li>
					<li>1</li> 
				</ul>
			</div>
		</div>


		<div class="article col-m-4 col-4">
			<div class="header_cover">
				<h4>TECH</h4>
				<h1>Elon Musk is right: we should all be worried about killer robots</h1>
				<ul>
					<li>by Matthew Hughes</li>
					<li>29 minutes ago</li>
					<li>1</li> 
				</ul>

			</div>
		</div>


		<div class="article col-m-4 col-4">
			<div class="header_cover">
				<h4>GEAR</h4>
				<h1>Microsoft opens Xbox One X pre-orders with limited ‘Project Scorpio Edition’</h1>
				<ul>
					<li>by Matthew Hughes</li>
					<li>29 minutes ago</li>
					<li>1</li> 
				</ul>

			</div>
		</div>
	</div>



	<footer>
		<p>© 2006–2017 The Next Web B.V. <br>
				Made with ♥ in Amsterdam.<br>
				Powered by  MaxCDN
		</p>
	</footer>